$olm-primary: #00c4cc;
$olm-secondary: #b2edef;
$olm-grey: #e6e6e6;
$olm-light-grey: #ececec;
$olm-white: #fafafa;
$olm-dark: #3b4848;
$olm-highlight: #ffd501;

$theme-colors: (
  'olm-primary': $olm-primary,
  'olm-secondary': $olm-secondary,
  'olm-grey': $olm-grey,
  'olm-light-grey': $olm-light-grey,
  'olm-white': $olm-white,
  'olm-dark': $olm-dark,
  'olm-highlight': $olm-highlight,
);

.nav-item a {
  text-decoration: none;
  color: $olm-dark;
}

.btn-xs.btn-xs, .btn-group-xs > .btn {
    padding: 0.25rem 0.4rem;
    font-size: 0.8rem;
    line-height: 1;
    border-radius: 0.2rem;
}

.link-invisible {
  text-decoration: none;
  color: inherit;
}

.link-invisible:hover {
  color: inherit;
}

.link-olm {
  text-decoration: none;
  color: $olm-dark;
}

.link-olm:hover {
  color: $olm-dark;
}

.flex-container-grey {
  display: flex;
  flex-wrap: nowrap;
  background-color: $olm-grey;
}

.flex-container-white {
  display: flex;
  flex-wrap: nowrap;
  background-color: $olm-white;
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
